:root {
  --color-bg: #ececef;
  --color-txt: #5c5c5c;
  --color-btn: #969697;
  --color-hvr: #e0e0e0;
}

:root.dark-mode {
  --color-bg: #212122;
  --color-txt: #adadae;
  --color-btn: #7e7d7d;
  --color-hvr: #2d2e2e;
}

html {
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  overflow: hidden;
}

p {
  line-height: 1.5em;
  margin: 0;
}

ul {
  padding-left: 15px;
  margin: 0;
}

li {
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: var(--color-btn);
  transition: color 0.1s ease-in-out;
  outline: none;
  cursor: default;
}

a:hover {
  color: var(--color-txt);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.frame-container {
  height: 100%;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.hidden-box {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 4px;
  display: flex;
  align-items: center;
  background-color: var(--color-bg);
  border-radius: 5px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  opacity: 0;
  z-index: 100;
  transition: opacity 0.3s ease-in-out;
}

.hidden-box:hover {
  opacity: 0.98;
}

.infobar {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 30px;
  max-width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: var(--color-bg);
  padding: 5px;
  border-top-left-radius: 10px;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.infobar.active,
.infobar:hover {
  opacity: 0.98;
}

.info-box {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
}

.button-box {
  display: flex;
  align-items: center;
}

#git,
#theme,
.save,
.random,
.dec,
.inc,
#explore,
#loop {
  background-color: transparent;
  color: var(--color-btn);
  font-size: 1.1em;
  border: none;
  border-radius: 5px;
  cursor: default;
  transition: background-color 0.1s ease-in-out;
  outline: none;
}

#git,
#theme {
  padding: 3.5px 5px 2.5px;
}

.save,
.random,
.dec,
.inc,
#explore,
#loop {
  padding: 3.75px 6.5px 2.75px;
  margin: 0 3px;
}

.random {
  padding: 4px 6.5px 2.5px;
}

#git:hover,
#theme:hover,
.save:hover,
.random:hover,
.dec:hover,
.inc:hover,
#explore:hover,
#loop:hover {
  background-color: var(--color-hvr);
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-input {
  border: none;
  background-color: var(--color-hvr);
  color: var(--color-txt);
  font-size: 1em;
  width: 80px;
  text-align: start;
  border-radius: 5px;
  padding: 4px 15px 4px 26px;
  outline: 1.5px solid transparent;
  transition: outline-color 0.1s ease-in-out;
}

.rpc-url,
.search-input,
#loopInput {
  outline: 1.5px solid transparent;
  transition: outline-color 0.1s ease-in-out;
}

.rpc-url:focus,
.rpc-url:hover,
.search-input:hover,
.search-input:focus,
#loopInput:hover,
#loopInput:focus {
  outline-color: var(--color-btn);
}

.rpc-url {
  display: none;
  width: 100%;
  margin-top: 10px;
  border: none;
  background-color: var(--color-hvr);
  color: var(--color-btn);
  font-size: 1em;
  text-align: end;
  border-radius: 5px;
  padding: 5px;
  z-index: 100;
  box-sizing: border-box;
}

#loopInput {
  padding: 4px;
  border-radius: 5px;
  font-size: 1em;
  border: none;
  background-color: var(--color-hvr);
  color: var(--color-btn);
  max-width: 100%;
  margin-bottom: 5px;
  text-align: center;
}

.search-icon,
.fav-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-btn);
  padding: 0;
  font-size: 1em;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: default;
  transition: color 0.1s ease-in-out;
}

.search-icon {
  left: 5px;
}

.fav-icon {
  right: 2px;
  padding: 0 4px;
}

.search-icon:hover,
.fav-icon:hover {
  color: var(--color-txt);
}

.spinner {
  display: none;
  position: absolute;
  right: 16px;
  border: 2.5px solid var(--color-btn);
  border-left-color: var(--color-hvr);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 1s linear infinite;
}

.search-box.nofav .spinner {
  right: 5px;
}

.instruction,
.panel,
.list-panel,
.fav-panel,
.drop-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 45px;
  padding: 10px;
  background-color: var(--color-bg);
  color: var(--color-txt);
  border-radius: 10px;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
  z-index: 90;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.instruction,
.panel,
.list-panel,
.fav-panel {
  min-width: 320px;
  max-width: 450px;
  max-height: 500px;
  right: 8px;
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
}

.drop-menu {
  max-width: 120px;
  right: 160px;
}

.instruction {
  display: none;
  bottom: 8px;
  opacity: 0.98;
  z-index: 100;
  pointer-events: auto;
}

.panel.active,
.list-panel.active,
.fav-panel.active,
.drop-menu.active {
  opacity: 0.98;
  pointer-events: auto;
}

.info {
  display: flex;
  align-items: center;
  color: var(--color-txt);
  font-size: 1.1em;
  cursor: default;
  transition: color 0.1s ease-in-out;
  margin: 0 10px;
  user-select: none;
  -webkit-user-select: none;
}

.info:hover {
  color: var(--color-btn);
}

.list-item,
.fav-panel p {
  padding: 2px 5px;
  border-radius: 5px;
}

.list-item:hover,
.list-item.selected,
.fav-panel.active p:hover {
  background-color: var(--color-hvr);
  cursor: default;
}

.list-item span {
  font-size: 0.85em;
  color: var(--color-btn);
  margin-left: 10px;
}

.drop-menu button {
  display: block;
  width: 100%;
  font-size: 1em;
  padding: 4px;
  color: var(--color-btn);
  background-color: transparent;
  border: none;
  border-radius: 5px;
  text-align: left;
  transition: background-color 0.1s ease-in-out;
}

.drop-menu button:hover {
  background-color: var(--color-hvr);
}

.work {
  font-size: 1.4em;
  margin-bottom: 8px;
}

.artist {
  font-size: 1.1em;
}

.edition {
  font-size: 0.95em;
  color: var(--color-btn);
}

.key {
  background-color: var(--color-hvr);
  border-radius: 5px;
  padding: 2px 5px;
}

.column-box {
  display: flex;
  border-top: 1px solid var(--color-btn);
  margin-top: 16px;
  padding-top: 8px;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.section {
  margin-top: 8px;
}

.no-flash {
  visibility: hidden;
}

.more {
  font-size: 0.9em;
  color: var(--color-btn);
}

.more a,
.no-copy-txt {
  color: var(--color-txt);
}

.more a:hover {
  color: var(--color-btn);
}

.copy-txt {
  color: var(--color-txt);
  cursor: default;
}

.fa-copy,
.fa-check {
  color: var(--color-btn);
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.1s ease-in-out;
  cursor: default;
}

.fa-copy:hover,
.fa-check:hover {
  background-color: var(--color-hvr);
}

.overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 50;
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0s linear 0.3s;
}

.overlay.active {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0s;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  }

  .infobar {
    position: static;
    left: 0;
    border-radius: 0;
    height: 80px;
    opacity: 1;
  }

  .info-box {
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
  }

  .info {
    margin: 0;
  }

  .info:hover {
    color: var(--color-txt);
  }

  .search-input {
    padding: 5px 18px 5px 32px;
    font-size: 1.1em;
  }

  .fav-icon {
    right: 4px;
  }

  .spinner {
    right: 20px;
  }

  .search-icon,
  .fav-icon {
    font-size: 1.2em;
  }

  .search-icon:hover,
  .fav-icon:hover {
    color: var(--color-btn);
  }

  .save,
  .random,
  .dec,
  .inc,
  #explore,
  #loop {
    font-size: 1.3em;
  }

  .save:hover,
  .random:hover,
  .dec:hover,
  .inc:hover,
  #explore:hover,
  #loop:hover {
    background-color: var(--color-bg);
  }

  .instruction,
  .panel,
  .list-panel,
  .fav-panel,
  .drop-menu {
    position: fixed;
    max-width: 100%;
    max-height: 60%;
    right: 0;
    left: 0;
    bottom: 90px;
  }

  .instruction {
    box-shadow: none;
    max-height: 100%;
    bottom: 50px;
  }
}

::placeholder {
  color: var(--color-btn);
}
