html {
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #171717;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.frame-container {
  height: 100%;
  width: 100%;
}

.frame {
  width: 100%;
  height: 100%;
  border: none;
}

.interaction-container {
  height: 30px;
  max-width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #171717;
  z-index: 100;
  padding: 5px;
}

.rpc-url {
  display: none;
  width: 250px;
  margin-right: 10px;
}

.info-box {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
}

.info {
  color: #a2a2a2;
  margin-right: 10px;
  font-size: 1.1em;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.info:hover {
  transform: scale(1.02);
}

.button-container {
  display: flex;
  align-items: center;
}

.save,
.random,
.previous,
.next {
  background-color: transparent;
  font-size: 1.2em;
  color: #a2a2a2;
  border: none;
  padding: 0;
  margin: 0 10px;
  outline: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.previous {
  margin: 0 3px 0 10px;
}

.next {
  margin: 0 10px 0 3px;
}

.save:hover,
.random:hover,
.previous:hover,
.next:hover {
  transform: scale(1.2);
}

.panel,
.data-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 43.5px;
  right: 5px;
  max-width: 400px;
  max-height: 500px;
  background-color: #171717;
  color: #b2b2b2;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.panel.active,
.data-panel.active {
  opacity: 0.9;
  pointer-events: auto;
}

#panelContent {
  width: 100%;
  word-wrap: break-word;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
}

.search-icon {
  position: absolute;
  font-size: 0.8em;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #a2a2a2;
}

.search-input {
  border: 1.5px solid #b2b2b2;
  font-size: 0.9em;
  background-color: #171717;
  color: #a2a2a2;
  width: 100px;
  text-align: end;
  border-radius: 5px;
  padding: 2px 5px;
  outline: none;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  z-index: 50;
}

@media (max-width: 600px) {
  .container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - env(safe-area-inset-top) - env(safe-area-inset-bottom));
    overflow-y: auto;
  }

  .interaction-container {
    justify-content: center;
    height: 80px;
  }

  .info-box {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .search-icon {
    font-size: 0.9em;
    left: 10px;
  }

  .search-input {
    padding: 5px 10px;
    border: 2px solid #b2b2b2;
  }

  .save,
  .random,
  .list,
  .previous,
  .next {
    font-size: 1.3em;
  }

  .panel,
  .data-panel {
    max-width: 100%;
    max-height: 50%;
    right: 0;
    left: 0;
    bottom: 90px;
  }
}
