html {
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #171717;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  /* margin: 0; */
  /* padding: 0; */
  /* box-sizing: border-box; */
}

.frame-container {
  height: 100%;
}

.frame {
  width: 100%;
  height: 100%;
  border: none;
}

.interaction-container {
  height: 30px;
  max-width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #171717;
  z-index: 100;
  padding: 5px;
}

.rpc-url {
  display: none;
  width: 250px;
  margin-right: 15px;
}

.info-box {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
  margin-right: 15px;
}

.info {
  color: #a2a2a2;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.info:hover {
  transform: scale(1.02);
}

.button-container {
  display: flex;
  align-items: center;
}

input {
  background-color: #171717;
  color: #a2a2a2;
  width: 80px;
  text-align: end;
  border: 1px solid #a2a2a2;
  border-radius: 5px;
  padding: 2px;
  outline: none;
}

.save,
.random,
.list,
.previous,
.next {
  display: none;
  background-color: transparent;
  color: #a2a2a2;
  border: none;
  padding: 0;
  margin: 0 10px;
  outline: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.save {
  display: block;
}

.save:hover,
.random:hover,
.list:hover,
.previous:hover,
.next:hover {
  transform: scale(1.2);
}

.panel,
.data-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 38px;
  right: 0;
  max-width: 450px;
  max-height: 500px;
  background-color: #171717;
  color: #b2b2b2;
  padding: 10px;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.data-panel {
  padding-bottom: 0;
}

.panel.active,
.data-panel.active {
  opacity: 0.95;
  visibility: visible;
}

#panelContent {
  width: 100%;
  word-wrap: break-word;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #171717;
  margin-top: 5px;
}

.search {
  text-align: start;
  padding: 5px;
  width: 100%;
  margin: 0;
}

@media (max-width: 600px) {
  .container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - env(safe-area-inset-top) - env(safe-area-inset-bottom));
    overflow-y: auto;
  }

  .interaction-container {
    justify-content: center;
    height: 75px;
  }

  .info-box {
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 0;
  }

  input {
    font-size: 1.1em;
    width: 130px;
  }

  .save,
  .random,
  .list,
  .previous,
  .next {
    display: block;
    font-size: 1.4em;
  }

  .panel,
  .data-panel {
    max-width: 100%;
    max-height: 60%;
    bottom: 75px;
    left: 0;
  }
}
