:root {
  --color-bg: #141414;
  --color-txt: #a2a2a2;
  --color-btn: #757575;
  --color-hvr: #212021;
}

html {
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.frame-container {
  height: 100%;
  width: 100%;
}

.frame {
  width: 100%;
  height: 100%;
  border: none;
}

.interaction-container {
  height: 30px;
  max-width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: var(--color-bg);
  padding: 5px;
}

::placeholder {
  color: var(--color-btn);
}

p {
  line-height: 1.5em;
  margin: 0;
}

ul {
  padding-left: 10px;
}

li {
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: var(--color-txt);
  filter: brightness(70%);
  transition: filter 0.3s ease-in-out;
  outline: none;
}

a:hover {
  filter: brightness(100%);
}

.rpc-url {
  display: none;
  width: 250px;
  margin-right: 10px;
  border: none;
  background-color: var(--color-hvr);
  color: var(--color-btn);
  font-size: 1em;
  text-align: end;
  border-radius: 5px;
  padding: 5px;
  outline: 0.5px solid transparent;
  transition: outline-color 0.3s ease-in-out;
}

.rpc-url:focus,
.rpc-url:hover {
  outline-color: var(--color-txt);
}

.info-box {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
}

.info {
  display: flex;
  align-items: center;
  color: var(--color-txt);
  margin-right: 5px;
  font-size: 1.1em;
  padding: 4px 8px;
  cursor: default;
  transition: transform 0.3s ease-in-out;
  z-index: 100;
}

.info:hover {
  transform: scale(1.01);
}

.button-container {
  display: flex;
  align-items: center;
}

.save,
.random,
.previous,
.next {
  background-color: transparent;
  font-size: 1.1em;
  color: var(--color-btn);
  border: none;
  border-radius: 5px;
  padding: 3.25px 6.5px;
  margin: 0 5px;
  cursor: default;
  transition: background-color 0.3s ease-in-out;
  outline: none;
  z-index: 100;
}

.previous {
  margin: 0 3px 0 5px;
}

.next {
  margin: 0 5px 0 3px;
}

.save:hover,
.random:hover,
.previous:hover,
.next:hover {
  background-color: var(--color-hvr);
}

.instruction,
.panel,
.data-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 45px;
  right: 8px;
  max-width: 450px;
  max-height: 500px;
  background-color: var(--color-bg);
  color: var(--color-txt);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.6);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.instruction {
  display: none;
  opacity: 0.95;
  pointer-events: auto;
}

.panel.active,
.data-panel.active {
  opacity: 0.95;
  pointer-events: auto;
}

#panelContent {
  width: 100%;
  word-wrap: break-word;
}

.mini {
  font-size: 0.85em;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  z-index: 100;
}

.search-input {
  border: none;
  background-color: var(--color-hvr);
  color: var(--color-txt);
  font-size: 1em;
  width: 80px;
  text-align: start;
  border-radius: 5px;
  padding: 4px 30px 4px 30px;
  outline: 0.5px solid transparent;
  transition: outline-color 0.3s ease-in-out;
}

.search-input:hover,
.search-input:focus {
  outline-color: var(--color-txt);
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 7px;
  transform: translateY(-50%);
  color: var(--color-btn);
  cursor: default;
}

.key-short {
  position: absolute;
  top: 50%;
  right: 7px;
  transform: translateY(-50%);
  font-size: 0.6em;
  color: var(--color-btn);
  background-color: var(--color-hvr);
  filter: brightness(140%);
  padding: 2.5px 7px;
  border-radius: 5px;
  cursor: default;
}

.spinner {
  display: none;
  position: absolute;
  right: 7px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-left-color: var(--color-btn);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  z-index: 50;
}

@media (max-width: 600px) {
  .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - env(safe-area-inset-top) - env(safe-area-inset-bottom));
    overflow-y: auto;
  }

  .interaction-container {
    justify-content: center;
    height: 80px;
  }

  .info-box {
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0;
  }

  .info {
    margin-right: 0;
  }

  .search-input {
    padding: 6px 30px 6px 30px;
  }

  .save,
  .random,
  .previous,
  .next {
    font-size: 1.2em;
    padding: 4.5px 9px;
  }

  .instruction,
  .panel,
  .data-panel {
    max-width: 100%;
    max-height: 60%;
    right: 0;
    left: 0;
    bottom: 90px;
  }

  .mini {
    font-size: 0.75em;
  }
}
